<div class="container">
	<div class="row justify-content-md-center">
		<div class="login col-md-4 ">
			<div class="form-group">
			 	<label for="user-name">Name</label>
			 	<input type="text" id="user-name" class="form-control" />
			</div>
			<div class="form-group">
			 	<label for="user-pass">Password</label>
			 	<input type="password" id="user-pass" class="form-control" />
			</div>
			<div class="form-group">
			 	<input type="checkbox" id="remember" />
			 	<label for="remember">Remember me</label>
			</div>
			      
			<button id="log-in" class="btn btn-primary" (click) = "onClickLogin($event)">Log in</button>

		</div>
	</div>
</div>