
.sidebar{
	height: 100vh;
	background-color: #323232;
	color: #d6d6d6;
	padding: 0;
	padding-top: 1%;
	border-right-style: solid;
    border-right-width: 2px;
    border-color: #848484;
	position: fixed;  
	width: 16%;  
}

.sidebar h2{
	text-align: center;
	margin-bottom: 10%;
}

.sidebar ul{
	padding: 0;
	list-style: none;
}

.sidebar ul li a{
	width: 100%;
	display: block;
	color: #d6d6d6;
	padding: 10px;
	font-size: 18px;
}

.sidebar ul li a:hover, .sidebar ul li a:focus, .sidebar ul li a.active{
	text-decoration: none;
	background-color: #d6d6d6;
	color: #323232;
}